#navlist {
	background-color: red;
	margin-top: 0px;
}

#button {
	background-color: red;
}

.menu-item {
	background-color: #c6c6c6;
	padding: 10px;
	margin-top: 30px;
}

.menu-item h3 {
	font-size: 1.3em;
}

.return {
	text-align: right;
}

.navbar, .navbar-default {
  background-color: #EDBB99;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-brand h1 {
	margin: 0px;
	text-transform: uppercase;
}
