#navlist {
	background-color: red;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

#button {
	background-color: red;
}

.menu-item {
	background-color: #c6c6c6;
	padding: 10px;
	margin-top: 30px;
}

.menu-item h3 {
	font-size: 1.3em;
}

.return {
	text-align: right;
}

.navbar, .navbar-default {
  background-color: #EDBB99;
  border-radius: 0;
  border: 0;
  padding-top: 20px;
  /** padding-bottom: 20px; **/
}

.navbar-toggle, .collapsed {
    margin: 20px 15px 20px;
} 

.navbar-collapse {
	    padding: 0px;
}

.navbar-brand h1 {
	text-transform: uppercase;
	margin: 0;
	padding:0;
}

@media (min-width: 768px) {
	.navbar, .navbar-default {
	height: 95px}
}
